<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style='background-color: #f8f9fa; border-top: 1px solid #e0e0e0;'
>
  <!-- Social Media Icons -->
  <tr>
    <td align='center' style='padding: 30px 20px 20px 20px;'>
      <table cellpadding='0' cellspacing='0' align='center'>
        <tr>
          <td style='padding: 0 8px;'>
            <a
              href=''
              target='_blank'
              rel='noopener noreferrer'
              style='display: inline-block; text-decoration: none;'
            >
              <img
                src='{{ASSETS.email.twitterIcon}}'
                alt='Twitter'
                width='24'
                height='24'
                style='display: block; border: 0;'
              />
            </a>
          </td>
          <td style='padding: 0 8px;'>
            <img
              src='{{ASSETS.email.twitterIcon}}'
              alt='Twitter'
              width='24'
              height='24'
              style='display: block; border: 0;'
            />
          </td>
          <td style='padding: 0 8px;'>
            <a
              href=''
              target='_blank'
              rel='noopener noreferrer'
              style='display: inline-block; text-decoration: none;'
            >
              <img
                src='{{ASSETS.email.linkedinIcon}}'
                alt='LinkedIn'
                width='24'
                height='24'
                style='display: block; border: 0;'
              />
            </a>
          </td>
          <td style='padding: 0 8px;'>
            <img
              src='{{ASSETS.email.linkedinIcon}}'
              alt='LinkedIn'
              width='24'
              height='24'
              style='display: block; border: 0;'
            />
          </td>
          <td style='padding: 0 8px;'>
            <a
              href=''
              target='_blank'
              rel='noopener noreferrer'
              style='display: inline-block; text-decoration: none;'
            >
              <img
                src='{{ASSETS.email.instagramIcon}}'
                alt='Instagram'
                width='24'
                height='24'
                style='display: block; border: 0;'
              />
            </a>
          </td>
          <td style='padding: 0 8px;'>
            <img
              src='{{ASSETS.email.instagramIcon}}'
              alt='Instagram'
              width='24'
              height='24'
              style='display: block; border: 0;'
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Website URL and Copyright -->
  <tr>
    <td align='center' style='padding: 0 20px 20px 20px;'>
      <table
        cellpadding='0'
        cellspacing='0'
        align='center'
        width='100%'
        style='max-width: 600px;'
      >
        <tr>
          <td align='center' style='padding: 0 0 8px 0;'>
            <p>
              dreamaxhq.com
            </p>
          </td>
        </tr>
        <tr>
          <td align='center' style='padding: 0;'>
            <small>
              &copy; 2023 DreamaxHQ. All rights reserved
            </small>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>